body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#reset{
    margin-top: 5px;
}
#numWeight {
    width: 93%;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  /* Aligns containers to the top of the screen */
    gap: 20px;  /* Adds some space between the two containers */
}

#container1, #container2 {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

#heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
input[type="submit"]#reset {
    width: 100%;
    padding: 14px;
    background-color: #f44336;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]#reset:hover {
    background-color: #e53935;
}

input[type="submit"]#reset:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#table th, #table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

#table th {
    background-color: #4CAF50;
    color: white;
}

#table tr:nth-child(even) {
    background-color: white;
}



#table td {
    font-size: 16px;
}
